@use '../../../../../styles/imports' as str;

.confirm-modal {
  display: flex;
  flex-direction: column;
  padding: str.$space-4 0;

  &__header {
    display: flex;
    flex-direction: column;
    gap: str.$space-4;
  }

  &__desc {
    @include str.type-body;
    margin: 0;
    padding: str.$space-12 0;
  }

  &__actions {
    @include str.form-actions;
    padding-top: str.$space-8;

    str-button {
      width: auto;
    }
  }
}