@use '../../../../../styles/imports' as str;

.register-form {
  @include str.flex-col(str.$space-24);
}

.login-row {
  font-size: str.$font-14;
  color: str.$color-text-muted;
  text-align: center;
}

.login-link {
  background: none;
  border: none;
  padding: 0;
  font-size: str.$font-14;
  color: str.$color-interactive-primary;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: str.$color-text-muted;
  }

  @include str.focus-ring(str.$color-interactive-primary);
}