@use '../../../../../../../styles/imports' as str;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cart-form {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    @include str.flex-col(str.$space-4);
    flex-shrink: 0;
    padding: 0 2px;
  }

  &__subtitle {
    @include str.type-body;
    margin: 0;
  }

  &__body {
    @include str.flex-col(str.$space-16);
    @include str.scrollbar-custom;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding: 16px 2px 16px 2px;
  }

  &__actions {
    @include str.form-actions;
    flex-shrink: 0;
    padding-top: str.$space-16;

    str-button {
      width: auto;
    }
  }
}
