@use '../../../../../styles/imports' as str;

:host {
  display: block;
}

.breadcrumb-list {
  display: flex;
  align-items: center;
  gap: str.$space-8;
  list-style: none;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
  gap: str.$space-8;
  white-space: nowrap;

  &:not(:last-child)::after {
    content: "›";
    color: str.$color-text-placeholder;
    font-size: str.$font-16;
    line-height: str.$lh-tight;
  }
}

.breadcrumb-ancestor {
  font-size: str.$font-14;
  line-height: str.$lh-relaxed;
  color: str.$color-text-placeholder;
}

.breadcrumb-current {
  font-size: str.$font-14;
  line-height: str.$lh-relaxed;
  color: str.$color-text-primary;
  overflow: hidden;
  text-overflow: ellipsis;
}