@use '../../../../../styles/imports' as str;

:host {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid str.$color-border;
  border-radius: str.$radius-lg;
  overflow: hidden;
  background-color: str.$color-bg-surface;
}

.table-toolbar {
  flex-shrink: 0;
  background-color: str.$color-bg-muted;
  border-top: 1px solid str.$color-border;
  padding: str.$space-8 str.$space-16;
  text-align: left;
}

.table-container {
  flex: 1;
  min-height: 0;
  width: 100%;
  overflow: auto;

  @include str.scrollbar-custom;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: str.$font-14;
  font-family: inherit;
}

thead {
  position: sticky;
  top: 0;
  z-index: str.$z-sticky;
  background-color: str.$color-bg-muted;
  outline: 1px solid str.$color-border;
  color: str.$color-text-secondary;
  font-size: str.$font-14;
  font-weight: str.$fw-regular;
  white-space: nowrap;

  tr {
    height: 40px;
  }
}

tbody {
  color: str.$color-text-primary;
  font-size: str.$font-14;
}

.skeleton-cell {
  padding: 10px str.$space-16;
}

.container-empty {
  display: grid;
  place-items: center;
  place-content: center;
  user-select: none;
  padding: 40px str.$space-16;
  text-align: center;
  gap: str.$space-4;
}

.empty-title {
  margin: 0;
  color: str.$color-text-primary;
  font-size: str.$font-16;
  font-weight: str.$fw-regular;
  line-height: str.$lh-relaxed;
}

.empty-description {
  margin: 0;
  color: str.$color-text-secondary;
  font-size: str.$font-14;
  font-weight: str.$fw-regular;
}