@use '../../../../../styles/imports' as str;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: str.$space-12;
  color: str.$color-text-secondary;
  font-size: str.$font-14;
}

.loading-text {
  font-size: str.$font-14;
  color: str.$color-text-secondary;
}