@use '../../../../../styles/imports' as str;

:host {
  display: inline-flex;
}

.tag {
  display: inline-block;
  padding: str.$space-4 str.$space-12;
  border-radius: str.$radius-sm;
  font-size: str.$font-12;
  font-weight: str.$fw-medium;
  white-space: nowrap;
}