.title-font-24{
    font-size: 24px;
    line-height: 150%;
    margin: 0;
    color: #242424;
    font-weight: 500;
}

.title-font-20{
    font-size: 20px;
    margin: 0;
    color: #242424;
    font-weight: 500;
}

.subtitle-font-16{
    font-size: 16px;
    line-height: 120%;
    margin: 0;
    color: #505050;
    font-weight: 400;
}

.subtitle-font-14{
    font-size: 14px;
    line-height: 120%;
    margin: 0;
    color: #505050;
    font-weight: 400;
}