@use '../../../../../../../styles/imports' as str;

.edit-form {
  @include str.flex-col(0);
  padding: str.$space-4 0;

  &__header {
    @include str.flex-col(str.$space-4);
    margin-bottom: str.$space-24;
  }

  &__fields {
    @include str.flex-col(str.$space-24);
    margin-bottom: str.$space-24;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: str.$space-16;

    @include str.bp-sm {
      grid-template-columns: 1fr;
    }
  }

  &__actions {
    @include str.form-actions;
    padding-top: str.$space-16;
    border-top: 1px solid str.$color-border;

    str-button {
      width: auto;
    }
  }
}
